@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

// src/components/GlobalStyles/GlobalStyles.scss
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-family: "Cabin", sans-serif;
}

:root {
  --primary: hsl(120, 98%, 16%);
  --white: #fff;
}
